{{ define "body_classes" }}single{{ end }}

{{- define "subheader" }}
  {{ $date := partial "date.html" . }}
  {{ $tags := partial "tags.html" . }}
  {{ partial "subheader.html" (dict "context" . "caption" .Params.caption "date" $date "tags" $tags "site" $.Site) }}
{{- end }}

{{- define "content" }}
  <div dir="{{ .Params.LanguageDirection | default "ltr" }}" >
    {{ .Content }}
  </div>
  <button
    onclick="(()=>{
      navigator.share({
        url: '{{.Page.Permalink}}',
      })
  })()"
  >
  Share This Post <img src="https://img.icons8.com/ios-glyphs/22/17191C/share-rounded.png"/>
</button>
{{ partial "categories.html" . }}
  {{ partial "comments.html" (dict "context" . "comments_id" .Page.Permalink) }}
{{- end }}
