:root[data-theme="dark"] {
  --bg-color: hsl(216, 10%, 10%);
  --bg-color-header: hsl(216, 10%, 10%);
  --bg-color-subheader: hsl(220, 7%, 17%);
  --bg-color-footer: hsl(220, 7%, 8%);
  --bg-quotes: hsl(218, 15%, 14%);
  --bg-inputs: hsl(218, 15%, 14%);
  --bg-menu-mobile: hsl(180, 4%, 5%);
  --bg-btn: hsl(53, 86%, 59%);
  --color: hsl(0, 0%, 79%);
  --color-header: hsl(24, 9%, 78%);
  --color-menu-mobile: hsl(0, 0%, 98%);
  --color-subheader: hsl(27, 24%, 91%);
  --color-footer: hsl(27, 12%, 71%);
  --color-btn: hsl(240, 3%, 7%);
  --chip-color: hsl(220, 7%, 17%);
  --accent-color: hsl(53, 80%, 63%);

  img,
  .subheader {
    filter: brightness(0.8) contrast(1.2);
  }

  .nav-btn {
    filter: invert(1);
  }

  .content p,
  .content li {
    line-height: 2;
  }
}
