:root[data-theme="light"] {
  --bg-color: hsl(30, 37%, 89%);
  --bg-color-header: hsl(30, 37%, 89%);
  --bg-color-subheader: hsl(0, 0%, 19%);
  --bg-color-footer: hsl(220, 7%, 8%);
  --bg-quotes: hsl(30, 69%, 94%);
  --bg-inputs: hsl(30, 69%, 94%);
  --bg-menu-mobile: hsl(0, 0%, 7%);
  --bg-btn: #676548;
  --color: hsl(0, 0%, 22%);
  --color-header: hsl(0, 0%, 9%);
  --color-menu-mobile: hsl(0, 0%, 98%);
  --color-subheader: hsl(30, 37%, 89%);
  --color-footer: hsl(27, 12%, 71%);
  --color-btn: hsl(240, 82%, 98%);
  --chip-color: hsl(0, 0%, 19%);
  --accent-color: #676548;
}
